@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Allura&family=Babylonica&family=Itim&family=Knewave&family=Prata&family=Unbounded&family=Unna&display=swap");

* {
  font-family: "Unna";
}
.nav-link {
  color: white;
}

.App {
  text-align: center;
}

.hero-section,
.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projects {
  display: flex;
  flex-direction: column;
  background-color: black;
}
.project-header {
  text-align: center;
}

.project-heading {
  font-family: "Prata";
}

.projects-section {
  padding: 10px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.project-heading {
  color: #01b7ff;
}

.hero-container {
  height: 600px;
  padding: 20px;
  background: url("https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1031&q=80");
  background-size: cover;
}

.hero-text {
  padding: 10px;
  color: #01b7ff;
  font-size: 20px;
}

.card {
  width: 18rem;
}

.card-text,
.card-title,
.navbar-text {
  color: white;
}

.connect-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  margin-right: 20px;
  font-family: "Prata";
  font-size: 18px;
}

.footer-container {
  justify-content: space-between;
}
