@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css");

.nav-link {
  color: white;
}

.App {
  text-align: center;
}

.hero-section {
  display: flex;
  flex-direction: row;
}
